body {
  background-color: orange !important;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  background-color: rgb(231, 231, 231);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search {
  position: relative;
  margin: 0;
  margin-bottom: 1vh;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  color: gray;
}

#selectedItem {
  margin-top: 15px;
}

#resultList {
  margin-top: 15px;
}

.vote-btn {
  margin-top: 15px;
}

#statusField {
  margin-top: 15px;
}

body {
  overflow-x: hidden;
}
img {
  transform-origin: center center;
  animation: zoom 3s infinite ease;
  max-width: 100%;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    /* equals 105% */
  }
  100% {
    transform: scale(1);
  }
}
